.navbar-brand-custom {
  display: flex;
  align-items: center;
}

.navbar-brand-img-modified {
  height: 55px !important;
  margin-right: 10px;
  position: absolute !important;
}

.navbar-brand-text {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  text-transform: none;
}

.navbar-brand-text-modified {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  text-transform: none;
  margin-top: 32px !important;
  text-align: center;
}

.collapse-brand {
  display: flex;
  align-items: center;
}

.collapse-brand-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.collapse-brand-img {
  height: 40px;
  margin-right: 10px;
}

.collapse-brand-text {
  color: #61dafb;
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  text-transform: none;
}
